/* App.css */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #808080;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.page-gray {
  background-color: #CBCBCB;
}

.page-white {
  background-color: #ffffff;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.error-message {
  position: absolute;
  width: 611px;
  height: 27px;
  top: 68px;
  left: 415px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background-color: #FF6565;
  border-radius: 5px;
  padding: 5px;
}

.white-window {
  position: center;
  width: 823px;
  height: 367px;
  top: 328px;
  left: 309px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.upload-text {
  position: absolute;
  width: 362px;
  height: 33px;
  top: 310px;
  left: 539px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 32.69px;
  white-space: nowrap;
}

.upload-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.upload-file-button {
  width: 274px;
  height: 48px;
  top: 535px;
  left: 583px;
  border-radius: 5px;
  background-color: #6346B4;
}

.upload-file-button:hover {
  background-color: #A88EF0;
}

.upload-file-button:active {
  background-color: #311F63;
}

.load-new-file-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.load-new-file-button {
  width: 164px;
  height: 36px;
  border-radius: 5px;
  background-color: #6346B4;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.upload-container {
  text-align: center;
}


.table-container {
  width: 1407px;
  height: 951px;
  position: absolute;
  top: 73px;
  left: 33px;
  background-color: white;
  border-radius: 10px 0 0 0;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
