/* ErrorModal.css */

.error-modal {
    position: absolute;
    width: 611px;
    height: 27px;
    top: 68px;
    left: 415px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    background: #FF6565;
    border-radius: 10px;
    box-shadow: 2px 4px 9.899999618530273px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
